@model CucharitaLeliQR.Models.Cliente

@{
    ViewData["Title"] = "Resultado";
}

<div class="container text-center mt-5">

    <h1 class="mb-4">Resultado del Escaneo</h1>

    <div class="card p-4 shadow-lg">

        <!-- MENSAJE -->
        @if (TempData["Mensaje"] != null)
        {
            <h2 class="text-success">@TempData["Mensaje"]</h2>
        }

        <hr />

        <h3>Cliente: @Model.Nombre</h3>

        <h2 class="mt-3">⭐ Puntos actuales: @Model.Puntos</h2>

        @if (Model.Puntos < 100)
        {
            <h4 class="text-muted">
                Te faltan @(100 - Model.Puntos) puntos para premio
            </h4>
        }
        else
        {
            <h2 class="text-warning mt-3">🎁 ¡PREMIO DISPONIBLE!</h2>

            <a asp-action="EntregarPremio" asp-route-id="@Model.Id"
               class="btn btn-success mt-3">
                Entregar Premio
            </a>
            <a asp-action="Index" class="btn btn-primary btn-lg mt-4">
                ⬅️ Volver al sistema
            </a>
        }

    </div>

    <a asp-action="Index" class="btn btn-dark mt-4">Volver</a>

</div>

